#about {
  background-color: #466a78;
  color: #fff;

  & .col-lg-4:last-child .about-inner:last-child:after {
    display: none;
  }
}

.about-inner {
  text-align: center;
  font-size: 18px;

  & span,
  & a {
    color: #ffb135;
  }

  & a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  & p {
    margin: 20px 0px 0px;
  }

  & img {
    border-radius: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  }

  &:after {
    position: absolute;
    content: "";
    width: 28px;
    height: 100px;
    top: 0px;
    right: -12px;
    background-image: url("../images/about-arrow.png");
    background-repeat: no-repeat;
  }
}