.form-group {
  margin-bottom: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #7f7f7f;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  box-shadow: none;
}

.form-control:focus {
  border-color: #83d3d6;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #83d3d6;
}

.form-control::-moz-placeholder {
  color: #8e8e8e;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #8e8e8e;
}

.form-control::-webkit-input-placeholder {
  color: #8e8e8e;
}

input[name='name'],
input[name='phone'] {
  background-image: url('../images/form-icons.png');
  background-repeat: no-repeat;
  padding-left: 40px;
}

input[name='name'] {
  background-position: 0px 0px;
}

input[name='phone'] {
  background-position: 0px -40px;
}

input.error {
  border-color: #f00;
  box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075), 0 0 8px rgba(220, 0, 0, 0.6);
}

input.success {
  border-color: #00902a;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 144, 42, 0.6);
}

.error input {
  box-shadow: 0 0 0 2px red;
}

input.error {
  color: red;
}

.error .agree-text {
  color: red !important;
}

.btn {
  font-family: 'NeoSansCyr-Medium', sans-serif;
  border-radius: 21px;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 22px;
  height: 42px;
  position: relative;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  text-align: center;
}

.btn:hover {
  background-position: 0 -15px;
  transition: background-position 0.1s linear;
}

.btn-warning {
  color: #fff;
  background-color: #ff8a17;
  *background-color: #ff8a17;
  background-image: -moz-linear-gradient(top, #ffb336, #ff8a17);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffb336), to(#ff8a17));
  background-image: -webkit-linear-gradient(top, #ffb336, #ff8a17);
  background-image: -o-linear-gradient(top, #ffb336, #ff8a17);
  background-image: linear-gradient(to bottom, #ffb336, #ff8a17);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB336', endColorstr='#FF8A17', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #fff;
  background-color: #ff8a17;
  *background-color: #003bb3;
}

.btn-success {
  color: #ffffff;
  background-color: #009215;
  *background-color: #009215;
  background-image: -moz-linear-gradient(top, #00b51a, #009215);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00b51a), to(#009215));
  background-image: -webkit-linear-gradient(top, #00b51a, #009215);
  background-image: -o-linear-gradient(top, #00b51a, #009215);
  background-image: linear-gradient(to bottom, #00b51a, #009215);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00B51A', endColorstr='#009215', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #009215;
  *background-color: #003bb3;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 20px;
  font-size: 24px;
  line-height: 1.3333333;
  height: 50px;
  border-radius: 25px;
}

.btn-md,
.btn-group-md > .btn {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.3333333;
  height: 40px;
  border-radius: 20px;
}

.btn-sm,
.btn-group-sm > .btn {
  font-family: 'NeoSansCyr-Regular', sans-serif;
  padding: 5px 25px;
  font-size: 16px;
  line-height: 1.5;
  height: 34px;
  border-radius: 17px;
  text-transform: none;
}

.phone-icon {
  background: url('../images/phone.png') no-repeat;
  display: inline-block;
  width: 22px;
  height: 21px;
  vertical-align: middle;
}
